<?xml version="1.0"?>

<launch>
   <node pkg="u_kuaro_move_gyro2_comb" type="kuaro_move_gyro2_comb" name="kuaro_move_gyro2_comb" output="screen">
       <param name="CMD_ACC_LIMIT"     value="0.2"/>
       <param name="CMD_ANG_ACC_LIMIT" value="0.4"/>
       <param name="CMD_CONTROL_PERIOD" value="10"/>
   </node>
   <!--node pkg="tf" type="static_transform_publisher" name="basefootprint_to_baselink" args="0 0 0 0 0 0 base_footprint base_link 100"/-->  
</launch>
