<launch>
    <arg name="no_rviz" default="false" />
    <param name="/use_sim_time" value="true" />

    <group unless="$(arg no_rviz)">
        <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find slam_with_cartographer)/conf/2d.rviz" />

        <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" args="-resolution 0.05" />
    </group>

    <node name="cartographer_offline_node" pkg="cartographer_ros" required="$(arg no_rviz)" type="cartographer_offline_node" args="
                -configuration_directory $(find slam_with_cartographer)/conf
                -configuration_basenames 2d.lua
                -urdf_filenames $(find data_gather)/conf/kuaro.urdf
                -bag_filenames $(env DIR_MAP_BAG)/gather.bag" output="screen">
        <remap from="/points2" to="/velodyne_points" />
        <!-- <remap from="/odom" to="/odom" /> -->
        <remap from="/imu" to="/imu" />
        <!-- <remap from="/tf" to="/old_tf" /> -->
    </node>


	<param name="robot_description" textfile="$(find data_gather)/conf/kuaro.urdf" />
	<!-- <node respawn="true" name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> -->


</launch>