<launch>
        rosservice call /finish_trajectory 0

        rosservice call /write_state "{filename: '${DIR_MAP_OUT}/map3d.pbstream'}"
        
        rosrun cartographer_ros cartographer_pbstream_to_ros_map -map_filestem=${DIR_MAP_OUT}/map3d -pbstream_filename=${DIR_MAP_OUT}/map3d.pbstream -resolution=0.05
        
</launch>