<launch>
	<arg name="2d3d_mode" default="3d" />

	<!-- rosbag -->
	<node pkg="rosbag" type="record" name="rosbag_record" args="--lz4 -O $(env DIR_MAP)/gather.bag -a" output="screen" />

	<!-- urdf -->
	<include file="$(find data_gather)/launch/core/urdf.xml" />

	<!-- velodyne -->
	<include file="$(find data_gather)/launch/core/velodyne.xml" />

	<!-- urg -->
	<include file="$(find data_gather)/launch/core/urg.xml" />

	<!-- imu -->
	<include file="$(find data_gather)/launch/core/imu.xml" />

	<!-- odom -->
	<include file="$(find okatech_kuaro)/launch/okatech_kuaro.launch" />

	<!-- odom_with_imu -->
	<include file="$(find data_gather)/launch/core/odom_with_imu.xml" />


	<node name="cartographer_node" pkg="cartographer_ros" type="cartographer_node" args="-configuration_directory $(find data_gather)/conf -configuration_basename cartographer_$(arg 2d3d_mode).lua" output="screen">
		<remap from="points2" to="/velodyne_points" />
		<remap from="odom" to="/odom_with_imu" />
		<remap from="imu" to="/imu" />
	</node>
	<node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" args="-resolution 0.05" />


	<node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find data_gather)/conf/cartographer_$(arg 2d3d_mode).rviz" />


	<!-- <param name="/use_sim_time" value="true" />
	<node name="playbag" pkg="rosbag" type="play" args="-\-clock /home/pch18/catkin_ws/bagfile/bag_test.bag">
		<remap from="tf" to="tf_no" />
	</node> -->

</launch>