<launch>

    <!-- 加一个判断rosbag 文件存在则退出 -->

	<!-- rosbag -->
	<node pkg="rosbag" type="record" name="rosbag_record" args="--lz4 -O $(env DIR_MAP_BAG)/gather.bag -a" output="screen" />

	<!-- urdf -->
    <param name="robot_description" textfile="$(find data_gather)/conf/kuaro.urdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    
	<!-- velodyne -->
	<include file="$(find data_gather)/launch/core/velodyne.xml" />

	<!-- urg -->
	<include file="$(find data_gather)/launch/core/urg.xml" />

	<!-- imu -->
	<include file="$(find data_gather)/launch/core/imu.xml" />

	<!-- odom -->
	<include file="$(find okatech_kuaro)/launch/okatech_kuaro.launch" />

	<!-- odom_with_imu -->
	<include file="$(find data_gather)/launch/core/odom_with_imu.xml" />

</launch>